In [1]:
import pymongo
from pymongo import MongoClient
client = MongoClient('mongodb://localhost:27017/')

In [2]:
#This will create a Collection/Database called books if it doesn't already exist
db = client['employees']

In [3]:
employees = db.employees

In [4]:
db.employees.insert_many([{"name": "Jessica", "Department":"IT","Salary": 6000},
                                 {"name": "Joseph", "Department":"IT","Salary": 7000},
                                 {"name": "Alex", "Department":"Accounts","Salary": 5000},
                                 {"name": "Julie", "Department":"IT","Salary": 3000},
                                 {"name": "James", "Department":"Admin","Salary": 8000},
                                 {"name": "Jacob", "Department":"Admin","Salary": 9000},
                                 {"name": "Kevin", "Department":"IT","Salary": 6500}
                              ])

In [14]:
for employee in employees.find():
  print(employee)

{'_id': ObjectId('5f5852e11bb7b32b0ab9e873'), 'name': 'Jessica', 'Department': 'IT', 'Salary': 6000}
{'_id': ObjectId('5f5852e11bb7b32b0ab9e874'), 'name': 'Joseph', 'Department': 'IT', 'Salary': 7000}
{'_id': ObjectId('5f5852e11bb7b32b0ab9e875'), 'name': 'Alex', 'Department': 'Accounts', 'Salary': 5000}
{'_id': ObjectId('5f5852e11bb7b32b0ab9e876'), 'name': 'Julie', 'Department': 'IT', 'Salary': 3000}
{'_id': ObjectId('5f5852e11bb7b32b0ab9e877'), 'name': 'James', 'Department': 'Admin', 'Salary': 8000}
{'_id': ObjectId('5f5852e11bb7b32b0ab9e878'), 'name': 'Jacob', 'Department': 'Admin', 'Salary': 9000}
{'_id': ObjectId('5f5852e11bb7b32b0ab9e879'), 'name': 'Kevin', 'Department': 'IT', 'Salary': 6500}
{'_id': ObjectId('5f5a5cce93b5dc3a1e78c687'), 'name': 'Jessica', 'Department': 'IT', 'Salary': 6000}
{'_id': ObjectId('5f5a5cce93b5dc3a1e78c688'), 'name': 'Joseph', 'Department': 'IT', 'Salary': 7000}
{'_id': ObjectId('5f5a5cce93b5dc3a1e78c689'), 'name': 'Alex', 'Department': 'Accounts', 'Salary': 5000}
{'_id': ObjectId('5f5a5cce93b5dc3a1e78c68a'), 'name': 'Julie', 'Department': 'IT', 'Salary': 3000}
{'_id': ObjectId('5f5a5cce93b5dc3a1e78c68b'), 'name': 'James', 'Department': 'Admin', 'Salary': 8000}
{'_id': ObjectId('5f5a5cce93b5dc3a1e78c68c'), 'name': 'Jacob', 'Department': 'Admin', 'Salary': 9000}
{'_id': ObjectId('5f5a5cce93b5dc3a1e78c68d'), 'name': 'Kevin', 'Department': 'IT', 'Salary': 6500}
{'_id': ObjectId('5f5a5d28880c9e07e8eb8233'), 'name': 'Jessica', 'Department': 'IT', 'Salary': 6000}
{'_id': ObjectId('5f5a5d28880c9e07e8eb8234'), 'name': 'Joseph', 'Department': 'IT', 'Salary': 7000}
{'_id': ObjectId('5f5a5d28880c9e07e8eb8235'), 'name': 'Alex', 'Department': 'Accounts', 'Salary': 5000}
{'_id': ObjectId('5f5a5d28880c9e07e8eb8236'), 'name': 'Julie', 'Department': 'IT', 'Salary': 3000}
{'_id': ObjectId('5f5a5d28880c9e07e8eb8237'), 'name': 'James', 'Department': 'Admin', 'Salary': 8000}
{'_id': ObjectId('5f5a5d28880c9e07e8eb8238'), 'name': 'Jacob', 'Department': 'Admin', 'Salary': 9000}
{'_id': ObjectId('5f5a5d28880c9e07e8eb8239'), 'name': 'Kevin', 'Department': 'IT', 'Salary': 6500}

### To get the total number of records in the collection

In [6]:
pipeline = [
     {"$group": {"_id": None,"Count": {"$sum": 1}}}]
grp_employees = db.employees.aggregate(pipeline)

In [7]:
for employee in grp_employees:
  print(employee)

{'_id': None, 'Count': 21}

### To group by department and get the total salary for each department

In [8]:
pipeline = [
     {"$group": {"_id": "$Department","Salary": {"$sum": "$Salary"}}}]
grp_employees = db.employees.aggregate(pipeline)

In [9]:
for employee in grp_employees:
  print(employee)

{'_id': 'Admin', 'Salary': 51000}
{'_id': 'IT', 'Salary': 67500}
{'_id': 'Accounts', 'Salary': 15000}

### To group by department and get the average salary for each department

In [10]:
pipeline = [
     {"$group": {"_id": "$Department","Salary": {"$avg": "$Salary"}}}]
grp_employees = db.employees.aggregate(pipeline)

In [11]:
for employee in grp_employees:
  print(employee['_id'],"\t Average Salary ",employee['Salary'])

Admin 	 Average Salary  8500.0
IT 	 Average Salary  5625.0
Accounts 	 Average Salary  5000.0

### To get the employees with the lowest salary

In [12]:
pipeline = [
     {"$group": {"_id": None ,"Minimum Salary": {"$min": "$Salary"}}}]
grp_employees = db.employees.aggregate(pipeline)

In [13]:
for employee in grp_employees:
    for spec_emp in employees.find({"Salary":employee['Minimum Salary']}):
        print("Name ",spec_emp['name'],"\nSalary ",spec_emp['Salary'])

Name  Julie
Salary  3000
Name  Julie
Salary  3000
Name  Julie
Salary  3000