In [1]:
#This line will import Mongo to this Python notebook. Nothing will happen if this import has alred been done

In [2]:
#This will create a Collection/Database called "employees" if it doesn't already exist

In [3]:
#This line provides the MongoDB name for the Collection/Database "employees"

In [4]:
#This line inserts employee data into db.employees database

In [5]:
#This finds and prints out all of the employees, their departments and their salaries

### To get the total number of records in the collection

### To group by department and get the total salary for each department

### To group by department and get the average salary for each department

### To get the employees with the lowest salary