In [1]:
mytuple = (1,2,3,4)

In [4]:
print(mytuple.count(6))
print(mytuple.count(2))

0
1

In [5]:
mytuple.index(2)

1

In [6]:
mytuple.index(7)

ValueError: ignored

In [7]:
myset = {1,2,3,4,5}

#### Add an element to the cell

In [9]:
myset.add(6)
print(myset)

{1, 2, 3, 4, 5, 6}

#### Update method on set is similar to the extend method in list. The difference is that if there are duplicate elements, one one occurence is added to the original set.

In [10]:
myset2 = {4,5,6,7,8}
myset.update(myset2)
myset

{1, 2, 3, 4, 5, 6, 7, 8}

In [11]:
mylist = {1,2,9,10}
myset.update(mylist)
myset

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [27]:
setA = {1,2,3,4,5,6,7,8,9,10}
setB = {2,4,6,8,10,12,14}

print("setA union setB",setA.union(setB))
print("setA intersection setB",setA.intersection(setB))
print("setA difference setB",setA.difference(setB))


setC = {2,3,5,7}

print("Is setC a subset of setA? ",setC.issubset(setA))

setA union setB {1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 12, 14}
setA intersection setB {2, 4, 6, 8, 10}
setA difference setB {1, 3, 5, 7, 9}
Is setC a subset of setA?  True

In [12]:

mydict = {1:"one",2:"two",3:"three"}

In [19]:
for key in mydict.keys():
  print(key," - ",mydict[key])

1  -  one
2  -  two
3  -  three

In [20]:
for item in mydict.items():
  print(item)

(1, 'one')
(2, 'two')
(3, 'three')

In [16]:
mylist1 = [1,2,3,4,5,6]

#Creates a dictionary mapping the keys in the collection onto None
print(mydict.fromkeys(mylist1))

#Creates a dictionary mapping the keys on the the value passed as second parameter
print(mydict.fromkeys(mylist1,0))

{1: None, 2: None, 3: None, 4: None, 5: None, 6: None}
{1: 0, 2: 0, 3: 0, 4: 0, 5: 0, 6: 0}

In [21]:
mydict2 = mydict.copy()

In [22]:
mydict2["newkey"] = "newvalue"

In [23]:
print("mydict ",mydict)
print("mydict2 ",mydict2)

mydict  {1: 'one', 2: 'two', 3: 'three'}
mydict2  {1: 'one', 2: 'two', 3: 'three', 'newkey': 'newvalue'}