In [1]:
#This will create a Collection/Database called department if it doesn't already exist

In [2]:
#Inserts department names and heads data

##In order to create the data we will pandas dataframe. A Data frame is a two-dimensional data structure, i.e., data is aligned in a tabular fashion in rows and columns. Pandas DataFrame consists of three principal components, the data, rows, and columns.

In [3]:
#This will create a Collection/Database called employees if it doesn't already exist

### Left Join: 

Left join uses only keys from left frame, similar to a SQL left outer join

### Inner Join: 

Use intersection of keys from both frames, similar to a SQL inner join; preserve the order of the left keys.

### To get the total number of records in the collection

### To group by department and get the total salary for each department

### To group by department and get the average salary for each department

### To get the employees with the lowest salary